/node_modules
/public/hot
/public/aptpay
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
/bootstrap/cache
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/offer/*
public/eftfiles/*
public/telpayfiles/*

public/files/*
public/tempfiles
tempfiles
public/eftfiles
public/telpayfiles
public/files
public/videos

/public/storage/logs/*
/public/storage/logs
public/storage/logs/*
public/storage/logs
public/my_gallary/*
public/temp/*
offer/invoices/*
public/offer/invoices/*
my_gallary/*
temp/*
telpayfiles/*
images/*
public/images/profile/*
storage/logs/*
storage/logs
/storage/logs
/storage/logs/laravel.log
storage/logs/laravel.log
storage/framework/*
storage/framework/*
/storage/framework/*
/zpayd/files/*
/config/telescope.php

public/sitemap.xml
