<IfModule mod_rewrite.c>

    RewriteEngine On

    # Prevent direct access to Laravel sensitive files
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>

    # Redirect /public/... to /...
    RewriteCond %{THE_REQUEST} \s/+zeecv-backend/public/([^\s?]*) [NC]
    RewriteRule ^public/(.*)$ /zeecv-backend/$1 [R=301,L]

    # Internally load everything from the public directory
    RewriteCond %{REQUEST_URI} !^/zeecv-backend/public/
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>